.col-sm-4.col-sm-offset-2
  %p Lighthouse Labs is coming to the big time! August 20th-21st, we're taking our rag-tag bunch of rowdy programmers up to the Whistler Fairmont to show the GROW conference a thing or two about coding!
  %p In 2 days (1 night), we're going to hack away in Lighthouse Labs all-star teams 
.col-sm-4
  %p  to create some incredible apps.
  %p We're going to take in the glory and luxury of the Whistler village(including free meals). We'll go face-to-face with industry giants and say "hey, we got this." We'll win a $10,000 grand prize.  And we'll create something badass, and have a great time doing it.