.col-sm-4.col-sm-offset-2
  %p Blog viral freegan pour-over deep v trust fund. Plaid occupy bitters butcher, mlkshk +1 chia deep v gastropub sriracha jean shorts. Gluten-free Banksy sriracha squid, sustainable crucifix mumblecore.
.col-sm-4
  %p Tonx Schlitz ethical, whatever biodiesel mustache viral keytar blog tousled XOXO pork belly. Fap sustainable quinoa roof party hoodie. Irony Austin kale chips wayfarers, locavore ethical mustache vinyl salvia. 