.col-sm-4.col-sm-offset-2
  %p Lighthouse Labs is coming to the big time! August 20th-21st, we're crashing the Whistler Fairmont to show the GROW conference a thing or two about coding!
  %p In 2 days (1 night), we're going to hack away in Lighthouse Labs all-star teams to create some incredible apps for the chance to win the holy grail of nerddom.
.col-sm-4
  %p Oh, and s$10,000. Boom! 

  %p Also, a number of industry giants will be there to see what we can do.
  
  %p If you're interested in anything other than coding, you can catch glimpses of the glorious Whistler village.

  %p Did we mention free meals?