%h2 Hey #{@guest.name}, you're getting this email because you signed up through the Growbus site with this message:

"
= @guest.message
"
%p Well put, you!

%p Do you realise what this means? It means that you are CONFIRMED a spot on the bus Wednesday morning. 

%h3 Check this out:
%p August 20, 6:00am: Bus leaves Lighthouse Labs for Whistler
%p August 21, 11:30pm: Bus leaves Whistler for Lighthouse Labs

%p Cool beans 0 0 0 (<-- these represent beans).

%p Since you're all confirmed and everything, you may start to strategize your teams and talk about your game plan. There's money to be made, afterall. Also, we have room on the bus, so recruit your Lighthouse friends! Anyone in the community is welcome to come!

%p If you change your mind for some insane reason, please let michael know right away.That will cause trouble for him. You should feel bad about it to the extent that you just drop whatever else you have going on and tag along anyway. All the cool kids will be there and you will feel alienated when you realize that every other activity pales in comparison. You'll then have to live with regret for a long time.

%p But seriously: If you have any questions please follow up with michael@lighthouselabs.ca

%h3 bee-beep!