!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
    Hey Growbus, = @guest.name has sent you this message:
    %p
      = @guest.message
    %br
    %p
      you can reply to = @guest.name at = @guest.email
    %p
      bee-beep!