%title Growbus
%header
  .container
    .row
      .col-sm-12
        = image_tag('/assets/images/profile.png')
        .intro-text
          %span.name bee-beep!
          %hr.star-light
          %span.skills Geeky-Rowdy-Thirsty for Knowledge

%section#mission
  .container
    .row
      .col-sm-12.text-center
        %h2 mission
        %hr.star-primary
    .row
      = render 'mission_text'
%section#team.success
  .container
    .row
      .col-sm-12.text-center
        %h2 The Team
        %hr.star-light/
    .row
      = render 'team_images'
%section#contact
.container
  .row
    .col-sm-12.text-center
      %h2 Contact Us
      %hr.star-primary/
  .row
    .col-sm-8.col-sm-offset-2
  .row
    .col-sm-11.col-sm-offset-1
      = render 'guest_form', :guest => @guest




