%title Growbus
%header
  .container
    .row
      .col-sm-12
        = image_tag('/assets/images/profile.png')
        .intro-text
          %span.name bee-beep!
          %hr.star-light
          %span.skills Geeky-Rowdy-Thirsty for Knowledge

%section#mission
  .container
    .row
      .col-sm-12.text-center
        %h2 mission
        %hr.star-primary
    .row
      .col-sm-4.col-sm-offset-2
        %p Blog viral freegan pour-over deep v trust fund. Plaid occupy bitters butcher, mlkshk +1 chia deep v gastropub sriracha jean shorts. Gluten-free Banksy sriracha squid, sustainable crucifix mumblecore.
      .col-sm-4
        %p Tonx Schlitz ethical, whatever biodiesel mustache viral keytar blog tousled XOXO pork belly. Fap sustainable quinoa roof party hoodie. Irony Austin kale chips wayfarers, locavore ethical mustache vinyl salvia. 
%section#team.success
  .container
    .row
      .col-sm-12.text-center
        %h2 The Team
        %hr.star-light/
    .row
      = render 'team_images'
%section#contact
.container
  .row
    .col-sm-12.text-center
      %h2 Contact Us
      %hr.star-primary/
  .row
    .col-sm-8.col-sm-offset-2
  .row
    .col-sm-11.col-sm-offset-1
      = render 'guest_form', :guest => @guest




